*{
    box-sizing: border-box;
}
body {
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    padding: 0;
    margin: 0;
}

.topo {
    text-align: center;
    background-color: green;
    padding: 30px;
}

.topo h1 {
    font-size: 50px;
}

.menuTopo {
    text-align: center;
    background-color: rgb(42, 134, 42);
    overflow: hidden;
    position: sticky;
    top: 10px;
}

.menuTopo ul {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
}

.menuTopo ul li {
    float: left;
}

.menuTopo a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: right;
    background-color: rgb(27, 100, 27);
    border-radius: 10px;
    margin: 10px;
}

.menuTopo a:hover {
    background-color: rgb(91, 119, 91);
    color: rgb(194, 209, 194);
    font-weight: bold;
}

.corpo {
    width: 1024px;
    margin: 10px auto;
}

.corpo::after{
    display: table;
    clear: both;
    content: "";
}

.esquerda {
    width: 75%;
    float: left;
}

.direita{
    width: 25%;
    float: left;
    background-color: rgb(61, 172, 61);
    padding: 5px;

}

footer{
    padding: 20px;
    text-align: center;
    background-color: rgb(61, 172, 61);
    color: black;
}

.destaque{
    background-color: rgb(0, 0, 0);
    padding: 20px;
    margin-top: 20px;
}

.imagens{
    width: 100%;
}

.imagens img{
    width: 100%;
}

@media screen and (max-width: 1024px){
    .corpo{
        width: 100%;
        margin: 0;
        padding: 5px;
    }

    .esquerda, .direita{
        width: 100%;
        padding: 0;
    }
}

@media screen and (max-whidth: 400px){
    .menuTopo ul li, .menuTopo a{
        float: none;
        width: 100%;
    }
}

